#include <iostream>
#include <string>
#include <climits>
#include<limits>
using namespace std;
const int MAX_PLACES=50;

struct Point {
    int x;
    int y;
    bool isExit;      
    bool isDanger;
};
struct Place {
    string name;
    Point p;
    int id; 
};
struct Edge {
    int toId;
    int distance; 
    int time; 
    bool isSheltered;
    int congestionLevel;
    Edge() : toId(-1), distance(0), time(0), isSheltered(false), congestionLevel(0) {}
    Edge(int t, int d, int ti, bool sh = false, int con = 0)
        : toId(t), distance(d), time(ti), isSheltered(sh), congestionLevel(con) {}
};
struct BSTNode{
    string name;   
    int placeId;    
    BSTNode *lchild,*rchild; 
    BSTNode(string n,int id):name(n),placeId(id),lchild(nullptr),rchild(nullptr){}
};
const int MAX_CHILD = 10;
 struct ClassifyNode {
     string className;
     int placeIds[MAX_PLACES];
     int placeCnt;
     ClassifyNode* child[MAX_CHILD];
     int childCnt;
     ClassifyNode(string cName) : className(cName), placeCnt(0), childCnt(0) {
         for (int i = 0; i < MAX_PLACES; i++) placeIds[i] = -1;
         for (int i = 0; i < MAX_CHILD; i++) child[i] = nullptr;
     }
 };
 void addClassifyChild(ClassifyNode* parent, ClassifyNode* childNode) {
     if (parent->childCnt < MAX_CHILD) {
         parent->child[parent->childCnt++] = childNode;
     }
 }
 void addPlaceToClassify(ClassifyNode* node, int placeId) {
     if (node->placeCnt < MAX_PLACES) {
         node->placeIds[node->placeCnt++] = placeId;
     }
 }
 void traverseClassifyTree(ClassifyNode* root, Place campusPlaces[]) {
     if (root == nullptr) return;
     cout << "【" << root->className << "】" << endl;
     // 输出当前分类下的地点
     for (int i = 0; i < root->placeCnt; i++) {
         int pid = root->placeIds[i];
         cout << "   · " << campusPlaces[pid].name << endl;
     }
     for (int i = 0; i < root->childCnt; i++) {
         traverseClassifyTree(root->child[i], campusPlaces);
     }
 }
 ClassifyNode* searchClassify(ClassifyNode* root, const string& clsName) {
     if (root == nullptr) return nullptr;
     if (root->className == clsName) return root;
     for (int i = 0; i < root->childCnt; i++) {
         ClassifyNode* res = searchClassify(root->child[i], clsName);
         if (res != nullptr) return res;
     }
     return nullptr;
 }
 void destroyClassifyTree(ClassifyNode* root) {
     if (root == nullptr) return;
     for (int i = 0; i < root->childCnt; i++) {
         destroyClassifyTree(root->child[i]);
     }
     delete root;
 }
bool bstInsert(BSTNode* &root,const string &name,int pid){
    if(root==nullptr){
        root=new BSTNode(name,pid);
        return true;
    }
    if(name==root->name) return false;
    else if(name<root->name) bstInsert(root->lchild,name,pid);
    else bstInsert(root->rchild,name,pid);
    return true;
}
int bstSearch(BSTNode* root,const string &key){
    if(root==nullptr) return -1;
    if(key==root->name) return root->placeId;
    else if(key<root->name) return bstSearch(root->lchild,key);
    else return bstSearch(root->rchild,key);
}
void bstDestroy(BSTNode* &root){
    if(root==nullptr)return;
    bstDestroy(root->lchild);
    bstDestroy(root->rchild);
    delete root;
    root=nullptr;
}
struct AdjList {
    Edge edges[20];
    int edgeCount;
    AdjList():edgeCount(0){}
};
class Stack {
private:
    int data[100];
    int topIdx;
public:
    Stack() : topIdx(-1) {}
    bool isEmpty() { return topIdx == -1; }
    void push(int val) { if (topIdx < 49) data[++topIdx] = val; }
    int pop() { return data[topIdx--]; }
};
class CampusQuerySystem {
private:
    static const int MAX_PLACES = 50;
    Place campusPlaces[MAX_PLACES];
    AdjList adj[MAX_PLACES];
    int placeCount;
    ClassifyNode* classifyRoot;
    BSTNode *placeBSTRoot;

    static const int CONGESTION_PENALTY[4];
    static const int RAIN_PENALTY;
    bool isRainMode;    
    bool avoidCongestMode; 
    BSTNode *placeBSTRoot; 

    int getPlaceIdByName(const string& name) {
        for (int i = 0; i < placeCount; i++) {
            if (campusPlaces[i].name == name)
                return i;
        }
        return -1;
    }

    bool bfsEvacuate(int startId, int& exitId, int prev[]) {
        bool visited[MAX_PLACES] = {false};
        queue<int> q;
        memset(prev, -1, sizeof(int) * MAX_PLACES);

        q.push(startId);
        visited[startId] = true;

        while (!q.empty()) {
            int u = q.front();
            q.pop();

            if (campusPlaces[u].isExit) {
                exitId = u;
                return true;
            }

            for (int i = 0; i < adj[u].edgeCount; i++) {
                int v = adj[u].edges[i].toId;
                if (!visited[v] && !campusPlaces[v].isDanger) {
                    visited[v] = true;
                    prev[v] = u;
                    q.push(v);
                }
            }
        }
        return false; 
    }

public:
    CampusQuerySystem() {
        classifyRoot = nullptr;
        placeBSTRoot = nullptr;
        placeCount = 0;
        isRainMode = false;
        avoidCongestMode = false;
    }

    ~CampusQuerySystem() {
        destroyBST();
        destroyClassifyTree(classifyRoot);
    }

	void setNavMode(bool rain, bool congest)
	{
	    isRainMode = rain;
	    avoidCongestMode = congest;
	}

    void addPlace(const string& name, Point p, bool isExit = false, bool isDanger = false) {
        if (placeCount >= MAX_PLACES) return;
        campusPlaces[placeCount].name = name;
        campusPlaces[placeCount].p = p;
        campusPlaces[placeCount].id = placeCount;
        campusPlaces[placeCount].isExit = isExit;
        campusPlaces[placeCount].isDanger = isDanger;
        adj[placeCount].edgeCount = 0;
        bstInsert(placeBSTRoot, name, placeCount);
        placeCount++;
    }

    void addEdge(const string& from, const string& to, int dist, int t, bool shelter = false, int congest = 0) {
        int fromId = getPlaceIdByName(from);
        int toId = getPlaceIdByName(to);
        if (fromId == -1 || toId == -1) return;

        if (adj[fromId].edgeCount < 20)
            adj[fromId].edges[adj[fromId].edgeCount++] = Edge(toId, dist, t, shelter, congest);
        if (adj[toId].edgeCount < 20)
            adj[toId].edges[adj[toId].edgeCount++] = Edge(fromId, dist, t, shelter, congest);
    }
    void initCampus() {
        addPlace("校门(北1)", {45, 60}, true, false);   
        addPlace("校门(北2)", {140, 25}, true, false);  
        addPlace("弘义楼西", {-1, 35}, false, false);
        addPlace("明德楼", {-13, 30}, false, false);
        addPlace("明善楼", {38, 5}, false, false);
        addPlace("致远楼", {15, 20}, false, false);
        addPlace("弘义楼", {25, 32}, false, true);   
        addPlace("弘义楼东", {45, 25}, false, false);
        addPlace("明理楼", {-15, 20}, false, false);
        addPlace("图书馆", {0, 0}, false, false);
        addPlace("明志楼", {40, 15}, false, false);
        addPlace("球类活动中心", {60, 0}, false, false);
        addPlace("旭日餐厅", {90, 30}, false, false);
        addPlace("医务室", {105, 15}, false, false);
        addPlace("体育场", {90, -25}, false, false);
        addPlace("看台", {75, -30}, false, false);
        addPlace("羽毛球场", {110, -20}, false, false);
        addPlace("1A1B宿舍楼", {120, 20}, false, false);
        addPlace("2A2B宿舍楼", {140, -25}, false, false);
        addPlace("3A3B宿舍楼", {175, -40}, false, false);

        addEdge("校门(北1)", "弘义楼", 50, 60);
        addEdge("校门(北1)", "明志楼", 30, 40);
        addEdge("弘义楼", "弘义楼东", 20, 25);
        addEdge("弘义楼", "致远楼", 35, 45);
        addEdge("明志楼", "球类活动中心", 25, 30);
        addEdge("球类活动中心", "旭日餐厅", 40, 50);
        addEdge("旭日餐厅", "医务室", 20, 25);
        addEdge("医务室", "体育场", 30, 40);
        addEdge("体育场", "看台", 15, 20);
        addEdge("看台", "羽毛球场", 20, 25);
        addEdge("羽毛球场", "1A1B宿舍楼", 15, 20);
        addEdge("1A1B宿舍楼", "2A2B宿舍楼", 25, 30);
        addEdge("2A2B宿舍楼", "3A3B宿舍楼", 35, 45);
        addEdge("弘义楼西", "明德楼", 15, 20);
        addEdge("明德楼", "明理楼", 20, 25);
        addEdge("明理楼", "图书馆", 25, 30);
        addEdge("图书馆", "致远楼", 30, 40);
        addEdge("致远楼", "明善楼", 20, 25);
        addEdge("明善楼", "弘义楼", 35, 45);
        addEdge("2A2B宿舍楼", "校门(北2)", 20, 25);
        
        classifyRoot = new ClassifyNode("校园总览");
        ClassifyNode* gate = new ClassifyNode("校门区域");
        ClassifyNode* teach = new ClassifyNode("教学楼");
        ClassifyNode* dorm = new ClassifyNode("宿舍楼");
        ClassifyNode* sport = new ClassifyNode("运动场地");

        addClassifyChild(classifyRoot, gate);
        addClassifyChild(classifyRoot, teach);
        addClassifyChild(classifyRoot, dorm);
        addClassifyChild(classifyRoot, sport);

        addPlaceToClassify(gate, 0);
        addPlaceToClassify(gate, 1);
        addPlaceToClassify(teach, 2);
        addPlaceToClassify(teach, 3);
        addPlaceToClassify(dorm, 17);
        addPlaceToClassify(dorm, 18);
        addPlaceToClassify(sport, 14);   
    }

    void queryCoordinateByName(const string& name) {
        int id = getPlaceIdByName(name);
        if (id != -1) {
            Point p = campusPlaces[id].p;
            cout << "地点：" << name << endl;
            cout << "坐标：(" << p.x << ", " << p.y << ")" << endl;
            cout << "状态：";
            if(campusPlaces[id].isExit) cout << "疏散出口 ";
            if(campusPlaces[id].isDanger) cout << "危险区域";
            cout << endl;
        } else {
            cout << "未找到该地点：" << name << endl;
        }
    }

    void listAllPlaces() {
        cout << "\n===== 校园所有地点列表 =====" << endl;
        for (int i = 0; i < placeCount; i++) {
            cout << "- " << campusPlaces[i].name;
            if(campusPlaces[i].isExit) cout << " 【疏散出口】";
            if(campusPlaces[i].isDanger) cout << " 【危险区域】";
            cout << endl;
        }
        cout << "===========================\n" << endl;
    }

    void findFacilityByTree() {
        string findName;
        cout << "\n====二叉树一键设施查询====" << endl;
        cout << "请输入要查找的设施名称：";
        getline(cin, findName);
        int findId = bstSearch(placeBSTRoot, findName);
        if (findId == -1) {
            cout << "未查询到该设施！" << endl;
            return;
        }
        Place res = campusPlaces[findId];
        cout << "【查找成功】设施名称：" << res.name << endl;
        cout << "坐标：(" << res.p.x << "," << res.p.y << ")" << endl;
        cout << "内部编号：" << res.id << endl;
        cout << "=========================\n";
    }

    void showAllClassify() {
        cout << "\n===== 校园设施分类索引 =====" << endl;
        traverseClassifyTree(classifyRoot, campusPlaces);
        cout << "=======================================\n" << endl;
    }

    void searchByClassify() {
        string clsName;
        cout << "\n===== 按分类检索设施 =====" << endl;
        cout << "请输入分类名称(校门区域/教学楼/宿舍楼/运动场地)：";
        getline(cin, clsName);
        ClassifyNode* clsNode = searchClassify(classifyRoot, clsName);
        if (clsNode == nullptr) {
            cout << "不存在该分类！" << endl;
            return;
        }
        cout << "【" << clsName << "】下的所有设施：" << endl;
        for (int i = 0; i < clsNode->placeCnt; i++) {
            int pid = clsNode->placeIds[i];
            cout << "   · " << campusPlaces[pid].name
                 << "  坐标(" << campusPlaces[pid].p.x << "," << campusPlaces[pid].p.y << ")" << endl;
        }
        cout << "==========================\n";
    }

    void queryShortestPath(const string& startName, const string& endName) {
        int startId = getPlaceIdByName(startName);
        int endId = getPlaceIdByName(endName);
        if (startId == -1 || endId == -1) {
            cout << "起点或终点不存在！" << endl;
            return;
        }
        if (startId == endId) {
            cout << "起点与终点相同，无需导航。" << endl;
            return;
        }
        int totalCost[MAX_PLACES];
        int dist[MAX_PLACES];
        int timeCost[MAX_PLACES];
        int prev[MAX_PLACES];
        bool visited[MAX_PLACES] = {false};

        for (int i = 0; i < placeCount; i++) {
            totalCost[i] = INT_MAX;
            dist[i] = INT_MAX;
            timeCost[i] = INT_MAX;
            prev[i] = -1;
        }
        totalCost[startId] = 0;
        dist[startId] = 0;
        timeCost[startId] = 0;

        for (int i = 0; i < placeCount; i++) {
            int u = -1;
            int minDist = INT_MAX;
            for (int j = 0; j < placeCount; j++) {
                if (!visited[j] && dist[j] < minDist) {
                    minDist = dist[j];
                    u = j;
                }
            }
            if (u == -1) break;
            visited[u] = true;

            for (int k = 0; k < adj[u].edgeCount; ++k) {
                Edge eg = adj[u].edges[k];
                int v = eg.toId;
                if (visited[v] || totalCost[u] == INT_MAX) continue;
                int nowCost = eg.time;
                if (avoidCongestMode)
                    nowCost += CONGESTION_PENALTY[eg.congestionLevel];
                if (isRainMode && !eg.isSheltered)
                    nowCost += RAIN_PENALTY;
                if (totalCost[v] > totalCost[u] + nowCost) {
                    totalCost[v] = totalCost[u] + nowCost;
                    dist[v] = dist[u] + eg.distance;
                    timeCost[v] = totalCost[v];
                    prev[v] = u;
                }
            }
        }

        if (dist[endId] == INT_MAX) {
            cout << "两点之间无连通路径！" << endl;
            return;
        }
        Stack pathStack;
        int cur = endId;
        while (cur != -1) {
            pathStack.push(cur);
            cur = prev[cur];
        }
        cout << "\n===== 最短路径信息 =====" << endl;
        cout << "起点：" << startName << endl;
        cout << "终点：" << endName << endl;
        cout << "运行模式：";
        if (isRainMode) cout << "雨天避雨 ";
        if (avoidCongestMode) cout << "开启避堵";
        if (!isRainMode && !avoidCongestMode) cout << "普通导航";
        cout << "\n";
        cout << "最短距离：" << dist[endId] << " 米" << endl;
        cout << "预计通过时间：" << timeCost[endId] << " 秒" << endl;
        cout << "综合耗时(含避堵/避雨)：" << totalCost[endId] << " 秒\n";
        cout << "路径：";
        while (!pathStack.isEmpty()) {
            int id = pathStack.pop();
            cout << campusPlaces[id].name;
            if (id != endId) cout << " -> ";
        }
        cout << "\n========================\n" << endl;
    }

    void planEvacuationRoute(const string& startName) {
        int startId = getPlaceIdByName(startName);
        if (startId == -1) {
            cout << "当前位置不存在！" << endl;
            return;
        }
        if(campusPlaces[startId].isExit){
            cout << "当前位置已是疏散出口，无需撤离！" << endl;
            return;
        }

        int exitId = -1;
        int prev[MAX_PLACES];
        bool hasPath = bfsEvacuate(startId, exitId, prev);

        cout << "\n===== 校园最优疏散路线规划 =====" << endl;
        cout << "当前位置：" << startName << endl;
        if (!hasPath) {
            cout << "警告：无法找到通往安全出口的路线！" << endl;
            cout << "================================\n";
            return;
        }

        Stack st;
        int cur = exitId;
        while (cur != -1) {
            st.push(cur);
            cur = prev[cur];
        }

        cout << "最近安全出口：" << campusPlaces[exitId].name << endl;
        cout << "疏散路径：";
        while (!st.isEmpty()) {
            int id = st.pop();
            cout << campusPlaces[id].name;
            if (id != exitId) cout << " -> ";
        }
        cout << "\n提示：路线已自动避让危险区域！" << endl;
        cout << "================================\n";
    }

    void destroyBST() {
        bstDestroy(placeBSTRoot);
    }
};
const int CampusQuerySystem::CONGESTION_PENALTY[4] = {0, 10, 25, 50};
const int CampusQuerySystem::RAIN_PENALTY = 30;

int main(){   
    CampusQuerySystem system;
    system.initCampus();

    int choice;
	do{
        cout << "\n===== 校园地点查询&疏散导航系统 =====" << endl;
        cout << "1. 列出所有地点" << endl;
        cout << "2. 根据地点查询坐标" << endl;
        cout << "3. 查询两点间最短路径与预计时间" << endl;
        cout << "4. 设置导航模式(雨天/避堵)" << endl;
        cout << "5. 二叉树一键查找设施" << endl;
        cout << "6. 分类树查看/检索设施" << endl;
        cout << "7. 【新增】最优疏散路线规划(只有2A2B宿舍楼有，其余地点都没有)" << endl;
        cout << "0. 退出系统" << endl;
        cout << "请输入你的选择：";
        cin >> choice;
        cin.ignore(numeric_limits<streamsize>::max(), '\n');

        switch (choice) {
        case 1:
            system.listAllPlaces();
            break;
        case 2: {
            string name;
            cout << "请输入地点名称：";
            getline(cin, name);
            system.queryCoordinateByName(name);
            break;
        }
        case 3: {
            string start, end;
            cout << "请输入起点名称：";
            getline(cin, start);
            cout << "请输入终点名称：";
            getline(cin, end);
            system.queryShortestPath(start, end);
            break;
        }
        case 4:
        {
            int rain, congest;
            cout << "是否开启【雨天避雨】(0关闭 1开启)：";
            cin >> rain;
            cout << "是否开启【智能避堵】(0关闭 1开启)：";
            cin >> congest;
            cin.ignore(std::numeric_limits<streamsize>::max(), '\n');
            system.setNavMode(rain == 1, congest == 1);
            cout << "导航模式设置完成！\n";
            break;
        }
        case 5:
            system.findFacilityByTree();
            break;
        case 6: {
                int c;
                cout << "1.查看全部分类  2.按分类检索\n请选择：";
                cin >> c;
                cin.ignore();
                if(c == 1) system.showAllClassify();
                else system.searchByClassify();
                break;
        }
        case 7: { 
            string pos;
            cout << "请输入当前所在位置：";
            getline(cin, pos);
            system.planEvacuationRoute(pos);
            break;
        }
        case 0:
            cout << "退出系统，感谢使用！" << endl;
            break;
        default:
            cout << "无效选择，请重新输入！" << endl;
        }
    }while(choice !=0);

    return 0;
}
